html {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F1F1F1;
}

.wrapper {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.mainwrapper {
    display: flex;
    width: 1300px;
}

.aside {
    position: relative;
    z-index: 3;
    width: 350px;
    background-color: #F1F1F1;
}

.aside__list {
    padding: 0;
    list-style-type: none;
}

.redcol {
    color: crimson;
    font-weight: bold;
}

.btn-block {
    display: flex;
}

.btn-block__btn {
    background-color: #fff;
    width: 200px;
    display: flex;
}

.btn-block__btn div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-block__btn:last-child {
    margin-left: 10px;
}

.btn-block__btn:last-child img {
    transform: rotate(180deg);
}

article header {
    color: white;
    background-color: grey;
}

.imgcss {
    float: left;
}

.article-text-bold {
    font-weight: bold;
}

.article-link {
    color: crimson;
    text-decoration: underline;
}

.aside-right__block {
    text-align: center;
    margin: 3px 5px;
    padding: 3px;
    border: 1px solid black;
    background-color: #fff;
}

.aside-right__block header {
    background-color: grey;
    text-align: center;
    color: #fff
}

.aside-search {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
}