html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 500px;
    padding: 10px 20px;
    background-color: #EEEEEE;
}

h3 {
    font-weight: normal !important;
}

.category {
    background-color:#fff;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    margin-bottom: 30px;
}

.buttons-block {
    display: flex;
    justify-content: flex-end;
}


.category__btn {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category__btn:nth-child(n+1) {
    margin-left: 10px;
}

.category__btn div {
    z-index: 2;
    color: white;
}

.category__btn img{
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    width: inherit;
    height: inherit;
}


.category__text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}