body {
    background-color: grey;
}

.wrapper {
    margin: auto;
    width: 700px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10%;
    color: white;
}

h2 {
    color: #FFC300;
}

.text {
    color: #D8D8D8;
}