.wrapper {
    background-color: #1E3741;  
    border-radius: 10px;
    padding: 10px 10px 10px 0px;
    color: #AAB3B5;
    width: 650px;
}

header {
    display: flex;

}

header div {
    padding: 5px 10px;
    background-color: #4B5F67;
    margin: 2px;
    cursor: pointer;
}

.link_selected {
    background: none;
    color: white;
}

.link_unselected:hover {
    text-decoration: underline;
}

main {
    display: flex;
    padding-top: 10px;
}

.news {
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #4B5F67;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.news:hover {
    background-color: #00968C;
    color: white;
}