li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.sub-list li {
    padding-left: 10px;
    color: #D0D0D0;
}

.border:hover {
    text-decoration: underline;
}

.sub-list {

    text-decoration: none !important;
}

.sub-list li {
    text-decoration: none !important;
}

.main-list > li > ul > li {
    display: none;
}

.main-list > li:hover > .sub-list li {
    display: block;
}